<div class="top_image">
  <%= image_tag 'warashibe.png', width: '20%', height: '20%' %>
</div>


<% @items.each do |item|%>
  <div>
    <%= @item.image %>
  </div>
<% end %>

 <%= render "public/homes/login_modal" %>

<%= javascript_include_tag "login.js" %>